.wpal_logo_upload {
width:85%;
margin:15px auto;
background:#f9f9f9;
text-align:center;
padding:15px;
border:1px solid #c5c5c5;
font-size:0.8em;
}

.wpal_logo_hints {
font-size:0.8em;    
}